<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<modules>
		<NeXtIT_Kits>
			<version>0.0.1</version>
		</NeXtIT_Kits>
	</modules>
	<global>
		<models>
			<nextit_kits>
				<class>NeXtIT_Kits_Model</class>
			</nextit_kits>
		</models>
		<events>
			<!--<checkout_cart_save_after>-->
				<!--<observers>-->
					<!--<nextit_kits>-->
						<!--<class>nextit_kits/observer</class>-->
						<!--<method>testingObserver</method>-->
						<!--<type>singleton</type>-->
					<!--</nextit_kits>-->
				<!--</observers>-->
			<!--</checkout_cart_save_after>-->
			<!--<sales_quote_save_after>-->
				<!--<observers>-->
					<!--<nextit_kits>-->
						<!--<class>nextit_kits/observer</class>-->
						<!--<method>salesQuoteSaveAfter</method>-->
						<!--<type>singleton</type>-->
					<!--</nextit_kits>-->
				<!--</observers>-->
			<!--</sales_quote_save_after>-->
			<sales_quote_load_after>
				<observers>
					<nextit_kits_observer>
						<type>singleton</type>
						<class>nextit_kits/observer</class>
						<method>nitSalesQuoteLoadAfter</method>
					</nextit_kits_observer>
				</observers>
			</sales_quote_load_after>
			<checkout_cart_after_load>
				<observers>
					<nextit_kits_observer>
						<type>singleton</type>
						<class>nextit_kits/observer</class>
						<method>nitCheckoutCartAfterLoad</method>
					</nextit_kits_observer>
				</observers>
			</checkout_cart_after_load>
			<checkout_cart_product_add_after>
				<observers>
					<nextit_kits_observer>
						<type>singleton</type>
						<class>nextit_kits/observer</class>
						<method>nitSalesQuoteAddItem</method>
					</nextit_kits_observer>
				</observers>
			</checkout_cart_product_add_after>
			<sales_quote_remove_item>
				<observers>
					<nextit_kits_observer>
						<type>singleton</type>
						<class>nextit_kits/observer</class>
						<method>nitSalesQuoteRemoveItem</method>
					</nextit_kits_observer>
				</observers>
			</sales_quote_remove_item>
			<checkout_cart_update_items_after>
				<observers>
					<nextit_kits_observer>
						<type>singleton</type>
						<class>nextit_kits/observer</class>
						<method>nitSalesQuoteUpdateItem</method>
					</nextit_kits_observer>
				</observers>
			</checkout_cart_update_items_after>
			<checkout_cart_product_update_after>
				<observers>
					<eagle_minimums_update_after_observer>
						<type>singleton</type>
						<class>nextit_kits/observer</class>
						<method>nitSalesQuoteUpdateItem</method>
					</eagle_minimums_update_after_observer>
				</observers>
			</checkout_cart_product_update_after>
		</events>
	</global>
</config>