<?xml version="1.0"?>
<config>
  <modules>
    <NeXtIT_Recipes>
      <version>0.1.0</version>
    </NeXtIT_Recipes>
  </modules>
  <frontend>
    <routers>
      <recipes>
        <use>standard</use>
          <args>
            <module>NeXtIT_Recipes</module>
            <frontName>recipes-test</frontName>
          </args>
      </recipes>
    </routers>
		<layout>
		  <updates>
			<recipes>
			  <file>recipes.xml</file>
			</recipes>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <recipes>
        <class>NeXtIT_Recipes_Helper</class>
      </recipes>
    </helpers>
	<blocks>
	  <recipes>
		<class>NeXtIT_Recipes_Block</class>
	  </recipes>
	</blocks>
  </global>
</config> 